# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 5ee50c8452f596312d479f16e3f66f93ee7a18d62e920bd2f5418ccaf8c2ef6729f19f7eb7dc5cfdb609b6928478f1d4731745de1b56cba92b983533112d0027

test:
  secret_key_base: ec26984aefd5f0aeaa43a3cedb7c605fde434415485331c303145be1f01d2f6b16402e9a586c4799007e45f714f03106aac7ca45c8524eae040637256c43eb41

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
